<div class="row">
  <div class="col-8">
    <h3>
      <%= citem.title %>
      <span class="h6">
        <% if citem.lecture? %>
          (<%= citem.lecture_date_s %>, <%= citem.lecture_number_s.to_s %>)
        <% end %>
      </span>
    </h3>

  </div>
  <div class="col pt-4">
    <%if citem.lecture? && citem.section != "root" %>
      <%= link_to_prev toc, item %> <%=link_to_next toc, item %>
    <% end %>
  </div>
</div>
<h6><%= citem.desc %></h6>
