<h3>
  <%= citem.title %>
  <% if citem.lecture? %>
  <span class="h6">
    (<%= citem.lecture_date_s %>, <%= citem.lecture_number_s.to_s %>)
    <%if citem.section != "root" %>
    <%= link_to_prev toc, item %> <%=link_to_next toc, item %>
    <% end %>
  </span>
  <% end %>
  <div class="h6"><%= citem.desc %></div>
</h3>