<!DOCTYPE html>
<html lang="en">
<head>
  <%= render "/top_includes.*" %>
  <title><%= @item[:title] %> - <%= COURSE_SHORT_NAME %></title>
</head>

<body>
  <% @citem = Toc.instance.n2c(@item) %>
  <!-- Navigation -->
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <%= render "/banner.*", toc: Toc.instance, item: item, citem: @citem %>
    <%= render "/nav-menus.*", toc: Toc.instance, item: item, citem: @citem %>
  </nav>

  <!-- Content Section -->
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 header-main">
          <%= render "/body_header.*", toc: Toc.instance, item: item, citem: @citem %>
        </div>
      </div>
      <div class="row">
        <div class="body-main col-sm-9">
          <%= yield %>
        </div>
        <%= render "/sidebar.*" %>
        <!-- /.row -->
      </div>
      <!-- /.container -->
    </div>
  </section>
    <!-- Footer -->
  <footer>
    <%= render "/body_footer.*" %>
  </footer>

  <!-- jQuery -->
  <%= render "/bottom_includes.*" %>

</body>

</html>
